<p> email

{{input type = "email" placeholder ="abc@example.com"}}</p>

<hr>

<p>{{model.description}}
    hello
{{input placeholder ="abc@example.com"}}</p>

<div class="buttons">
    {{d-button action=(route-action "showCreateAccount") label="signup_cta.sign_up" class="btn-primary"}}
</div>


{{d-button class="btn-primary" action=(route-action "showLogin") label="log_in"}}

